* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  background: radial-gradient(circle, #073642 0%, #002b36);
  color: #93a1a1;
}
